{% form 'cart', cart %}
    {% if cart.empty? %}
        <h1>Hey, your cart is empty!</h1>
    {% else %}    
        <h1>Cart page</h1>
        {% for item in cart.items %}
            <div>
                <img src="{{ item.image | image_url: width:200, height: 200}}", width="200", height="200">
                <h2>{{ item.title }}</h2>
                <p> {{ item.price | money }}</p>
                <input name="updates[]" value="{{ item.quantity }}">
                <a href="{{ item.url_to_remove }}" name="remove_item"> Remove item </a>
            </div>
        {% endfor %}

        <hr/>
        <p>Total: {{ cart.total_price | money }}</p>

        <button type="submit" name="update"> Update </button> 
        <button type="submit" name="checkout"> Proceed to checkout </button>

    {% endif %}

{% endform %}